@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Минимальная высота экрана */
}

header {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2; /* Добавляем немного высоты строки для ровности */
}

#header-emoji {
  font-size: 0.4em; /* Соответствует тексту */
  display: inline-flex;
  align-items: center;
  line-height: 1; /* Убираем возможные расхождения */
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 0 5px; /* Боковые отступы */
  margin-bottom: 15px; /* Чтобы внизу был такой же отступ, как сверху */
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.square {
  width: calc(50% - 5px);
  aspect-ratio: 1 / 1;
  background: #eaeaea;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
}

.list {
    width: 100%;
    background: #EAEAEA;
    border-radius: 15px;
    padding: 10px 0;
}

.list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #333;
}

.list hr {
    margin: 0;
    border: 0.5px solid #ccc;
}

.arrow {
    font-size: 22px;
    font-weight: bold;
    color: #777;
}
.big-button {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #eaeaea;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  text-decoration: none;
  font-style: italic;
  border-radius: 15px;
  box-sizing: border-box;
}

.back-button {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 20px;
  text-decoration: none;
  color: #333;
}

.dua-slide {
  display: none;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: #eaeaea;
  width: 90%;
  height: 300px;
  border-radius: 15px;
}

.arabic {
  font-size: 28px;
  font-weight: bold;
}

.translation {
  margin-top: 10px;
  font-size: 18px;
}

.transliteration {
  margin-top: 10px;
  font-size: 16px;
  font-style: italic;
}

/* Отступ в самом низу страницы */
.footer-space {
  height: 15px; /* Отступ равен отступу в header */
  width: 100%;
}
